<!DOCTYPE html>
<html lang="en">
<head>
    <!-- general settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en-us">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{global.baseUrl}">

    <!-- meta tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- static assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css">
</head>
<body class="{body.class}">
    <div class="wrapper"> <!-- page wrapper -->

        <div class="header"> <!-- HEADER -->
            <!-- logo -->
            <a href="/" class="logo"></a>
            <!-- Nav -->
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="loggedOut" href="/accounts/create">Signup</a>
                </li>
                <li>
                    <a class="loggedOut" href="/session/create">Login</a>
                </li>
                <li>
                    <a class="loggedIn" href="/checks/all">Dashboard</a>
                </li>
                <li>
                    <a class="loggedIn" href="/accounts/edit">Account Settings</a>
                </li>
                <li>
                    <a class="loggedIn" href="#">Logout</a>
                </li>
            </ul>
        </div>

        <div class="content">  <!-- page specific content -->
